<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/partials/counseling.css">
</head>
<body>
    <section class="section get-couselling-section">
        <div class="container-get-councelling-container">
            <div>
                <div class="title-large">
                    <h1> Gain new skills</h1>
                </div> 
                <br>   
                <div class="row">
                        <div class="text-container">
                            <div class="title-small">
                                <h1>World-class learning</h1>
                            </div>
        
                            <p class="text">Get a promotion, a raise, or switch careers. Of our learners, 89% report career benefits.
                            </p>
                            <p class="text">Take the next step toward your personal and professional goals with BigB. Join to receive personalized recommendations from the full BigB catalog.</p>
                           
        
                           
        
                        </div>
                       
                            <div class="img-container">
                                <img width="450" src="../../static/assets/counseling img.jpg" alt=" error">
                            
                            </div>
                </div>
                
            </div>
            <div class="botton-container" >
                <button class="button">Get Counseling</button>
            </div>
        </div>
    </section>
    
</body>
</html>