<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/partials/hero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    
    <main>
        <section class="hero-section section">
            
            <div class="hero-container container" >
                <div class="col-text"> 
                   
                <div class="heading">
                    Lorem, ipsum dolor sit
                </div>

                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, explicabo.

                </div>
                        
                </div>
                
                
                <div class="col-img">
                    <img class="image" src="../../static/assets/codeaon-hero.png"  >
                
                </div>
                
        
            </div>
          
            
        </section>
        
        
        </main>
    
</body>
</html>