body {
    top: 10vh;
    /* background-image: url(wave.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #828bb2;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
  }
  
  .title-large {
    text-align: center;
    color: black;
    padding: 40px;
  }
  .text-container {
    text-align: left;
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-left:150px;
    width: 450px;
    flex: auto;
  
  }
  .img-container {
    width: 50%;
    float: right;
    /* padding-right: 10px; */
  }
  .button{
      width: 200px;
      height: 40px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: #8558c0;
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 25px;
      transition: .2s ease-in;
      cursor: pointer;
      float: left;
      
  }
  button:hover{
      background: #512d93;
  }
  .botton-container{
      align-self: center;
      padding-left: 150px;
  }
  .title-large{
      font-size: 150%;
      /* text-decoration: underline; */
      /* text-decoration: rgb(143, 9, 158); */
  }
  /* #underline{
     
      color: #000000;
      text-decoration-color: rgb(142, 16, 205);
  } */