@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
}

.navbar-codeaon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#5427cf, #6f42c1);
    padding: 25px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}




.codeaon-nav-heading {
    padding: 0.6rem 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    color: white;
    font-weight: bold;
}

.codeaon-nav-heading:hover {
    cursor: pointer;
}

.codeaon-nav-list-items {
    margin-right: 50px;
}

.navbar-codeaon li a {
    padding: 3px 3px;
    text-decoration: none;
}


.navbar-codeaon ul li {
    display: inline-block;
    list-style: none;
    padding: 3px;
    font-family: 'Recursive', sans-serif;
    line-height: 1.625em;
}

.codeaon-nav-list-items li a {
    cursor: pointer;
    color: whitesmoke;

}



.codeaon-nav-list-items :hover {
    font-weight: bolder;
    color: white;
    font-weight: 600;
}