@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

.newsletter-container h3 {
    color: #FFFFFF;
    font-size: 51.2px;
    font-family: var(--ff-header-);
}

.newsletter-container p {
    font-size: 22.4px;
    width: 70%;
    color: white;
    font-family: var(--ff-regular);
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(#5427cf, #6f42c1);
    background-size: cover;
    padding: 48px;
    background-position: center center;

}

.newsletter-form {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.newsletter-email {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.newsletter-submit {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: pointer;
    background: #e907d4;
    color: #fff;

}

.newsletter-submit:hover {

    cursor: pointer;

}