/* external css: flickity.css */
:root {
    --fs-hero-head: 2.5rem;
    --fs-hero-desc: 1.5rem;
    --fs-medium-light: #686868;
    --color-text: #fff;

    --ff-head:font-family: 'Merriweather', serif;

    --primary-grad: #6f42c1;
    --secondary-grad: #5427cf;

  
  
    --fw-200: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
  
    --gen-padding: 24px 40px;
  
    
  }
* { box-sizing: border-box; }

body { font-family: sans-serif; }



.carousel-cell {
  width: 25rem;
  height: 20rem;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 20rem;
  font-size: 80px;
  /* color: white; */
}
 
body { font-family: sans-serif; }
  

  
  /* .review-page {
    width: 25rem;
    height: 20rem;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }  */

 .review-page{
    padding: 3rem 4rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  100px, 0;
    
    color: var(--color-text);
    margin: 0.25rem;
    min-width: 47rem;
    z-index: 1;
    background-image: linear-gradient(160deg, var(--primary-grad)50%, var(--secondary-grad));
}

.heading{
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: var(--fw-bold);
    font-size: var(--fs-hero-head);
    
}
.desc{
    margin-bottom: 7rem;

    font-size: var(--fs-hero-desc);

}

.col-text{
    flex-basis: 40%;
    position: relative;
    margin-left: 8%;
    margin-top: 7%;   
} 



.col-img{
   position: relative;
   flex-basis: 60%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;

}

.image{
    height: 25rem;
}
