<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../../../static/styles/partials/blog/blog-content.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Document</title>
</head>

<body>

    <section class="blog-content-section section">
        <div class="container blog-content-container">

            <!-- Blog showcase section  -->

            <section class=" blog-showcase-section">
                <div class=" blog-showcase-container">

                    <div class="blog-img-details">
                        <div class="blog1-img">
                            <img class="image" src="../../../static/assets/blog1.jpg">

                        </div>

                        <div class="blog-post-info">
                            <span class="blog-post-info-small"><i
                                    class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span class="blog-post-info-small"><i
                                    class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;July 20,
                                2022</span>
                            <span class="blog-post-info-small">2 Comments</span>
                        </div>
                    </div>

                    <div class="blog-post-title">
                        <a href="#" class="blog-post-heading">PROGRAM THE RASPBERRY PI FOR SMART MIRROR</a>
                        <p class="blog-post-details">The software part of this project is a bit command line intensive.
                            The
                            steps below are need to be followed in the same manner as mentioned below for making it bug
                            free .
                            Installing Raspbian Jessie Download Etcher and install it to your computer. It...</p>
                        <a href="#" class="blog-readmore-btn">Read More
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>





                </div>


            </section>

            <!-- Blog showcase sidebar section  -->

            <section class=" blog-showcase-sidebar-section">
                <div class=" blog-showcase-sidebar-container">
                    <div class="blog-sidebar">
                        <h2 class="blog-sidebar-heading">Category</h2>
                        <div class="blog-sidebar-contents">

                            <ul>
                                <li>
                                    <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">SOFTWARE</a></div>
                                    <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">TECHNOLOGY</a></div>
                                    <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">E-BOOKS</a></div>
                                    <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">INNOVATIONS</a></div>
                                    <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">VIDEOS</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>





    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>